{
    "tabWidth": 4,
    "singleAttributePerLine": false,
    "semi": false,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "objectWrap": "collapse",
    "arrowParens": "always",
    "jsxSingleQuote": false
}