@import '@fontsource/noto-sans-jp/300.css';
@import '@fontsource/noto-sans-jp/400.css';
@import '@fontsource/noto-sans-jp/500.css';
@import '@fontsource/noto-sans-jp/700.css';

:root {
    width: 100vw;
    min-width: 320px;
    overflow-x: hidden;

    color-scheme: light dark;
    font-family: "Noto Sans JP", system-ui, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}